<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="dom" name="DOM for Monkey scripts" schema="schema/dom.exsd"/>
   <extension-point id="language" name="Language DOM for Monkey scripts" schema="schema/language.exsd"/>
   <extension-point id="scriptpath" name="Alternate Script Paths" schema="schema/scriptpath.exsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label.0"
            visible="true"
            id="eclipsemonkeyAction.actionSet">
         <menu
               id="eclipsemonkeyMenu"
               label="%menu.label.0">
            <separator
                  name="eclipsemonkeyGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.eclipsemonkey.actions.CreateMonkeyExamplesAction"
               icon="icons/monkey.gif"
               id="org.eclipse.eclipsemonkey.action1"
               label="%action.label.0"
               menubarPath="eclipsemonkeyMenu/eclipsemonkeyGroup"
               tooltip="%action.tooltip.0">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.eclipsemonkey.emFileContextMenu"
            nameFilter="*.em"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScriptForBlogger"
               id="org.eclipse.eclipsemonkey.action2"
               label="%action.label.1"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"
               tooltip="%action.tooltip.1"/>
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScriptForWiki"
               id="org.eclipse.eclipsemonkey.action4"
               label="%action.label.2"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"
               tooltip="%action.tooltip.2"/>
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScript"
               id="org.eclipse.eclipsemonkey.action5"
               label="%action.label.3"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"
               tooltip="%action.tooltip.3"/>
         <menu
               id="org.eclipse.eclipsemonkey.navigatorContextMenu"
               label="%menu.label.1"
               path="group.managing"/>
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScriptForEmail"
               id="org.eclipse.eclipsemonkey.action6"
               label="%action.label.4"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eclipsemonkey.emFileContextMenu"
            nameFilter="*.js"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScriptForBlogger"
               id="org.eclipse.eclipsemonkey.action2js"
               label="%action.label.5"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"
               tooltip="%action.tooltip.4"/>
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScriptForWiki"
               id="org.eclipse.eclipsemonkey.action4js"
               label="%action.label.6"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"
               tooltip="%action.tooltip.5"/>
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScript"
               id="org.eclipse.eclipsemonkey.action5js"
               label="%action.label.7"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"
               tooltip="%action.tooltip.6"/>
         <menu
               id="org.eclipse.eclipsemonkey.navigatorContextMenujs"
               label="%menu.label.2"
               path="group.managing"/>
         <action
               class="org.eclipse.eclipsemonkey.actions.PublishScriptForEmail"
               id="org.eclipse.eclipsemonkey.action6js"
               label="%action.label.8"
               menubarPath="org.eclipse.eclipsemonkey.navigatorContextMenu/group1"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.eclipseMonkey.monkeyFolderContextMenu"
            nameFilter="monkey"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="org.eclipse.eclipsemonkey.actions.PasteScriptFromClipboardAction"
               id="org.eclipse.eclipsemonkey.action3"
               label="%action.label.9"
               menubarPath="group.editor"
               tooltip="%action.tooltip.7"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.eclipsemonkey.EclipseMonkeyPlugin">
      </startup>
   </extension>


</plugin>
