<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.syncing.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.aptana.ide.ui.imageAssociations">
      <objectImage
            icon="icons/full/obj16/ftp.png"
            objectClass="com.aptana.ide.syncing.core.ISiteConnection">
      </objectImage>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.aptana.ide.syncing.ui.navigator.SiteConnectionsContentProvider"
            icon="icons/full/obj16/ftp.png"
            id="com.aptana.ide.syncing.ui.navigatorContent"
            labelProvider="com.aptana.ide.ui.io.navigator.FileTreeLabelProvider"
            name="%navigatorContent.site.name">
            priority="low">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.SiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.core.ISiteConnection">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.SiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.core.ISiteConnection">
               </instanceof>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
            </instanceof>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
            </instanceof>
         </possibleChildren>
         <dropAssistant
               class="com.aptana.ide.ui.io.navigator.resources.FileDropAdapterAssistant"
               id="com.aptana.ide.syncing.ui.navigator.resources.ProjectSiteDropAdapterAssistant">
            <possibleDropTargets>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <actionProvider
            class="com.aptana.ide.syncing.ui.navigator.actions.ExtendedActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.ExtendedActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.SiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.core.ISiteConnection">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
            </or></enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.RemoteNewActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.RemoteNewActions"
            overrides="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemMgmtActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.FileSystemMgmtActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.GoIntoActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.aptana.ide.ui.io.fileExplorerView">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.syncing.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.aptana.ide.ui.io.fileExplorerView">
         <includes>
            <actionExtension
                  pattern="com.aptana.ide.syncing.ui.navigator.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.syncing.ui.siteConnectionContribution"
            objectClass="com.aptana.ide.syncing.core.ISiteConnection">
         <action
               class="com.aptana.ide.syncing.ui.actions.SiteConnectionPropertiesAction"
               enablesFor="1"
               id="com.aptana.ide.ui.io.actions.connectionProperties"
               label="%siteConnectionPropertiesAction.label"
               menubarPath="group.properties">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.DeleteSiteConnectionAction"
               enablesFor="+"
               icon="icons/full/etool16/delete.png"
               id="com.aptana.ide.ui.io.actions.DeleteConnectionAction"
               label="%deleteAction.label"
               menubarPath="group.edit">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.syncing.ui.siteConnectionsContribution"
            objectClass="com.aptana.ide.syncing.ui.navigator.SiteConnections">
         <action
               class="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               label="%Action.NewConnection.name"
               menubarPath="group.new"
               tooltip="%Action.NewConnection.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.SiteConnectionPropertiesAction"
               enablesFor="1"
               id="com.aptana.ide.ui.io.actions.connectionProperties"
               label="%siteConnectionsEditorAction.label"
               menubarPath="group.properties">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.ide.syncing.ui.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="synchronize"
               label="%Menu.Synchronize.name"
               path="additions">
            <groupMarker
                  name="syncingGroup">
            </groupMarker>
            <separator
                  name="line">
            </separator>
            <groupMarker
                  name="cloakingGroup">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.ResourceNewSiteAction"
               label="%Action.NewConnection.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.NewConnection.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.DownloadAction"
               icon="icons/full/obj16/get.gif"
               id="com.aptana.ide.syncing.ui.actions.ResourceDownloadAction"
               label="%Action.Download.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.Download.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.UploadAction"
               icon="icons/full/obj16/put.gif"
               id="com.aptana.ide.syncing.ui.actions.ResourceUploadAction"
               label="%Action.Upload.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.Upload.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.SynchronizeAction"
               enablesFor="1"
               icon="icons/full/obj16/sync_vertical.gif"
               id="com.aptana.ide.syncing.ui.actions.ResourceSynchronizeAction"
               label="%Action.Synchronize.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.Synchronize.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.CloakPreferencesAction"
               id="com.aptana.ide.syncing.ui.actions.CloakPreferencesAction"
               label="%Action.CloakPreferences.name"
               menubarPath="synchronize/cloakingGroup"
               tooltip="%Action.CloakPreferences.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.UncloakAction"
               id="com.aptana.ide.syncing.ui.actions.ResourceUncloakAction"
               label="%Action.Uncloak.name"
               menubarPath="synchronize/cloakingGroup"
               tooltip="%Action.Uncloak.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.CloakAction"
               id="com.aptana.ide.syncing.ui.actions.ResourceCloakAction"
               label="%Action.Cloak.name"
               menubarPath="synchronize/cloakingGroup"
               tooltip="%Action.Cloak.tooltip">
         </action>
         <visibility>
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <not>
                     <objectClass
                           name="org.eclipse.core.resources.IProject">
                     </objectClass>
                  </not>
               </and>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectState
                        name="open"
                        value="true">
                  </objectState>
               </and>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.syncing.ui.filesystemContribution"
            objectClass="com.aptana.ide.ui.io.navigator.FileSystemObject">
         <menu
               id="synchronize"
               label="%Menu.Synchronize.name"
               path="additions">
            <groupMarker
                  name="syncingGroup">
            </groupMarker>
            <separator
                  name="line">
            </separator>
            <groupMarker
                  name="cloakingGroup">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.FilesystemNewSiteAction"
               label="%Action.NewConnection.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.NewConnection.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.DownloadAction"
               icon="icons/full/obj16/get.gif"
               id="com.aptana.ide.syncing.ui.actions.FilesystemDownloadAction"
               label="%Action.Download.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.Download.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.UploadAction"
               icon="icons/full/obj16/put.gif"
               id="com.aptana.ide.syncing.ui.actions.FilesystemUploadAction"
               label="%Action.Upload.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.Upload.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.SynchronizeAction"
               enablesFor="1"
               icon="icons/full/obj16/sync_vertical.gif"
               id="com.aptana.ide.syncing.ui.actions.FilesystemSynchronizeAction"
               label="%Action.Synchronize.name"
               menubarPath="synchronize/syncingGroup"
               tooltip="%Action.Synchronize.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.CloakPreferencesAction"
               id="com.aptana.ide.syncing.ui.actions.CloakPreferencesAction"
               label="%Action.CloakPreferences.name"
               menubarPath="synchronize/cloakingGroup"
               tooltip="%Action.CloakPreferences.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.UncloakAction"
               id="com.aptana.ide.syncing.ui.actions.FilesystemUncloakAction"
               label="%Action.Uncloak.name"
               menubarPath="synchronize/cloakingGroup"
               tooltip="%Action.Uncloak.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.CloakAction"
               id="com.aptana.ide.syncing.ui.actions.FilesystemCloakAction"
               label="%Action.Cloak.name"
               menubarPath="synchronize/cloakingGroup"
               tooltip="%Action.Cloak.tooltip">
         </action>
         <visibility>
            <objectState
                  name="isLocal"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.aptana.ide.syncing.ui.projectSitesContribution"
            objectClass="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
         <action
               class="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               label="%Action.NewConnection.name"
               menubarPath="group.new"
               tooltip="%Action.NewConnection.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.syncing.ui.ftpConnectionPointContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.syncing.ui.actions.OpenDefaultConnectionAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.OpenConnectionExplorerAction"
               label="%action.openConnection.label"
               menubarPath="additions"
               tooltip="%action.openConnection.tooltip">
         </action>
         <visibility>
            <objectClass
                  name="com.aptana.ide.core.io.IBaseRemoteConnectionPoint">
            </objectClass>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.CloakedLabelDecorator"
            icon="icons/full/obj16/cloaked_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.CloakedLabelDecorator"
            label="%Decorator.CloakedResource.name"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.SiteSourceDecorator"
            icon="icons/full/obj16/sync_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.ResourceSiteDecorator"
            label="%Decorator.ResourceSite.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.SiteSourceDecorator"
            icon="icons/full/obj16/sync_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.FileSiteDecorator"
            label="%Decorator.FileSite.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isLocal"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.SiteConnectionsDecorator"
            icon="icons/full/obj16/sync_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.SiteConnectionsDecorator"
            label="%Decorator.SiteConnections.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="com.aptana.ide.syncing.ui.navigator.SiteConnections">
               </objectClass>
               <objectClass
                     name="com.aptana.ide.syncing.core.ISiteConnection">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="com.aptana.ide.ui.propertyDialogs">
      <dialog
            class="com.aptana.ide.syncing.ui.internal.SiteConnectionPropertyDialogProvider"
            id="com.aptana.ide.syncing.ui.dialogs.siteConnection"
            objectClass="com.aptana.ide.syncing.core.SiteConnection">
      </dialog>
      <dialog
            class="com.aptana.ide.syncing.ui.internal.SiteConnectionPropertyDialogProvider"
            id="com.aptana.ide.syncing.ui.dialogs.siteConnection"
            objectClass="com.aptana.ide.syncing.ui.navigator.SiteConnections">
      </dialog>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.ide.syncing.ui.preferences.SyncPreferencePage"
            id="com.aptana.ide.syncing.ui.SyncPreferencePage"
            name="%PreferencePage.Synchronization.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.ide.syncing.ui.properties.SynchronizationPropertyPage"
            id="com.aptana.ide.syncing.ui.SyncPropertyPage"
            name="%Propertypage.Synchronization.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.aptana.ide.ui.io.fileExplorerView?after=additions">
         <command
               commandId="com.aptana.ide.syncing.ui.commands.synchronize"
               icon="icons/full/obj16/sync_vertical.gif">
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.upload"
               icon="icons/full/obj16/put.gif">
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.download"
               icon="icons/full/obj16/get.gif">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.sync.description"
            id="com.aptana.ide.syncing.ui.commands.category"
            name="%category.sync.name">
      </category>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            id="com.aptana.ide.syncing.ui.commands.synchronize"
            name="%Action.Synchronize.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            id="com.aptana.ide.syncing.ui.commands.upload"
            name="%Action.Upload.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            id="com.aptana.ide.syncing.ui.commands.download"
            name="%Action.Download.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.ide.syncing.ui.handlers.SynchronizeHandler"
            commandId="com.aptana.ide.syncing.ui.commands.synchronize">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.ide.syncing.ui.handlers.UploadHandler"
            commandId="com.aptana.ide.syncing.ui.commands.upload">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.ide.syncing.ui.handlers.DownloadHandler"
            commandId="com.aptana.ide.syncing.ui.commands.download">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="com.aptana.ide.core.ui.decorator">
      <decorator
            class="com.aptana.ide.syncing.ui.decorators.SiteConnectionDecorator">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.ide.syncing.ui.editors.ConnectionEditor"
            default="false"
            icon="icons/full/obj16/sync.gif"
            id="com.aptana.ide.syncing.ui.editors.ConnectionEditor"
            name="%editor.connection.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.syncing.core.ISiteConnection"
            class="com.aptana.ide.syncing.ui.navigator.SiteConnectionWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.aptana.ide.aptana"
            class="com.aptana.ide.syncing.ui.wizards.SyncImportWizard"
            icon="icons/full/obj16/sync_connection.gif"
            id="com.aptana.ide.syncing.ui.wizards.import"
            name="%SyncingWizard.name">
         <description>
            Imports the synchronization settings from a file.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.aptana.ide.ui.exportWizards.category"
            name="%ImportExportWizards.Category.Aptana">
      </category>
      <wizard
            category="com.aptana.ide.ui.exportWizards.category"
            class="com.aptana.ide.syncing.ui.wizards.SyncExportWizard"
            icon="icons/full/obj16/sync_connection.gif"
            id="com.aptana.ide.syncing.ui.wizards.export"
            name="%SyncingWizard.name">
         <description>
            Exports the synchronization settings to a file.
         </description>
      </wizard>
   </extension>

</plugin>
