<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.aptana.ide.core.ui.browser">
      <browser
            class="com.aptana.ide.xul.browser.FirefoxBrowser"
            id="com.aptana.ide.xul.firefox">
      </browser>
   </extension>

</plugin>
