<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      <extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="com.aptana.ide.js.core.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
		  <objectContribution
		        adaptable="false"
		        id="com.aptana.ide.core.ui.objectContribution1"
		        objectClass="com.aptana.ide.core.io.IVirtualFileManager">
		     <action
		           class="com.aptana.ide.core.ui.io.file.DuplicateVirtualFileManagerAction"
		           enablesFor="1"
		           id="com.aptana.ide.core.ui.action1"
		           label="%Action.duplicate.label"
		           menubarPath="additions"
		           state="true"
		           style="push"
		           tooltip="%Action.duplicate.tooltip"/>
		  </objectContribution>
	</extension>
    <extension
         id="virtualFileDrop"
         name="IVirtualFile Drop"
         point="org.eclipse.ui.dropActions">
      <action
            class="com.aptana.ide.core.ui.io.VirtualFileDropActionDelegate"
            id="com.aptana.ide.core.ui.io.VirtualFileDrop"/>
   </extension>
   
   <extension
         point="com.aptana.ide.core.protocols">
      <protocol
            allowNew="true"
            class="com.aptana.ide.core.ui.io.file.ProjectProtocolManager"
            displayName="%Protocol.project.displayname"
            fileManagerName="%Protocol.project.fmname"
            id="com.aptana.ide.core.ui.io.file.ProjectProtocolManager"
            name="com.aptana.ide.core.ui.io.file.ProjectProtocolManager">
      </protocol>
            <protocol
                  allowNew="true"
                  class="com.aptana.ide.core.ui.io.file.LocalProtocolManager"
                  displayName="%Protocol.local.displayname"
                  fileManagerName="%Protocol.local.fmname"
                  hidden="true"
                  id="com.aptana.ide.core.ui.io.file.LocalProtocolManager"
                  name="com.aptana.ide.core.ui.io.file.LocalProtocolManager">
      </protocol>
   </extension>
   
</plugin>
