<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
      <extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="com.aptana.ide.js.core.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
		  <objectContribution
		        adaptable="false"
		        id="com.aptana.ide.core.ui.objectContribution1"
		        objectClass="com.aptana.ide.core.io.IVirtualFileManager">
		     <action
		           class="com.aptana.ide.core.ui.io.file.DuplicateVirtualFileManagerAction"
		           enablesFor="1"
		           id="com.aptana.ide.core.ui.action1"
		           label="%Action.duplicate.label"
		           menubarPath="additions"
		           state="true"
		           style="push"
		           tooltip="%Action.duplicate.tooltip"/>
		  </objectContribution>
    <objectContribution
          adaptable="false"
          id="com.aptana.ide.io.file.fileObjectContribution"
          objectClass="com.aptana.ide.core.ui.io.file.LocalFile">
       <action
             class="com.aptana.ide.core.ui.views.fileexplorer.PromoteToProjectAction"
             icon="icons/folder_project.gif"
             id="com.aptana.ide.core.ui.views.fileexplorer.PromoteToProjectAction"
             label="%action.label.PromoteToProject"
             menubarPath="group.project"
             style="push"
             tooltip="%action.tooltip.PromoteToProject">
       </action>
    </objectContribution>
	</extension>
    <extension
         id="virtualFileDrop"
         name="IVirtualFile Drop"
         point="org.eclipse.ui.dropActions">
      <action
            class="com.aptana.ide.core.ui.io.VirtualFileDropActionDelegate"
            id="com.aptana.ide.core.ui.io.VirtualFileDrop"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.aptana.ide.js.ui"
            name="%Views.aptana.name"/>
       <view
            allowMultiple="true"
            category="com.aptana.ide.js.ui"
            class="com.aptana.ide.core.ui.views.fileexplorer.FileExplorerView"
            icon="icons/file_explorer.png"
            id="com.aptana.ide.js.ui.views.FileExplorerView"
            name="%View.file.name"/>
   </extension>
   <extension
         point="com.aptana.ide.core.protocols">
      <protocol
            allowNew="true"
            class="com.aptana.ide.core.ui.io.file.ProjectProtocolManager"
            displayName="%Protocol.project.displayname"
            fileManagerName="%Protocol.project.fmname"
            id="com.aptana.ide.core.ui.io.file.ProjectProtocolManager"
            name="com.aptana.ide.core.ui.io.file.ProjectProtocolManager">
      </protocol>
            <protocol
                  allowNew="true"
                  class="com.aptana.ide.core.ui.io.file.LocalProtocolManager"
                  displayName="%Protocol.local.displayname"
                  fileManagerName="%Protocol.local.fmname"
                  hidden="true"
                  id="com.aptana.ide.core.ui.io.file.LocalProtocolManager"
                  name="com.aptana.ide.core.ui.io.file.LocalProtocolManager">
      </protocol>
   </extension>
   
  <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="FileViewActions"
            targetID="com.aptana.ide.js.ui.views.FileExplorerView">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.io.file.file_view_context"
               label="%Action.showhelp.label"
               style="push"
               toolbarPath="helpEnd"
               tooltip="%Action.showhelp.tooltip"/>     
   		</viewContribution>
   </extension> 
   <extension point="org.eclipse.help.contexts"> 
		<contexts file="contexts.xml" /> 
   </extension>
   <extension
             point="org.eclipse.ui.themes">                    
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.ListBackgroundColorFactory"
                id="com.aptana.ide.core.ui.background.color.filesView"
                isEditable="true"
                label="%filesViewBackroundColor.name"/>
			<colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                id="com.aptana.ide.core.ui.foreground.color.filesView"
                isEditable="true"
                label="%filesViewforeroundColor.name"/>                                   
    </extension>
   <extension
         point="com.aptana.ide.core.ui.diagnosis">
      <diagnosis
            class="com.aptana.ide.core.ui.io.IODiagnosticLog"
            ordinal="1050">
      </diagnosis>
   </extension>	   
</plugin>
