<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="browser" name="Embedded Browsers" schema="schema/browser.exsd"/>
   <extension-point id="colorization" name="Language Colorization" schema="schema/colorization.exsd"/>
   <extension-point id="folding" name="Folding" schema="schema/folding.exsd"/>
   <extension-point id="outline" name="Language Outline" schema="schema/outline.exsd"/>
   <extension-point id="validator" name="Validator" schema="schema/validator.exsd"/>
   <extension-point id="metadata" name="Content Assist Metadata" schema="schema/metadata.exsd"/>
   <extension-point id="contentassistant" name="Content Assistant" schema="schema/contentassistant.exsd"/>
   <extension-point id="pairfinder" name="Pair Matcher" schema="schema/pairfinder.exsd"/>
   <extension-point id="formatter" name="Code Formatter" schema="schema/formatter.exsd"/>
   <extension-point id="toolbarContribution" name="Code Toolbar Contribution" schema="schema/toolbarContribution.exsd"/>
   <extension-point id="userAgent" name="User Agents" schema="schema/userAgent.exsd"/>
   <extension-point id="fileProcessor" name="Profile File Processor" schema="schema/fileProcessor.exsd"/>
   <extension-point id="viewerFilters" name="Viewer Filters" schema="schema/viewerFilters.exsd"/>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="com.aptana.ide.annotation.occurence">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.aptana.ide.annotation.occurence"
            label="%Occurrences.marker.label"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
     </specification>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.aptana.ide.core.ui"
            name="%Wizard.untitledfiles.name"/>         
      <category
            id="com.aptana.ide.core.ui.projects"
            name="%Wizard.projectfiles.name"/>  
      <category
            id="com.aptana.ide.aptana.projects"
            name="%Wizard.projects.name"/>  
       <wizard
             canFinishEarly="true"
             category="com.aptana.ide.core.ui"
             class="com.aptana.ide.editors.wizards.UntitledTextFileWizard"
             finalPerspective="com.aptana.ide.js.ui.WebPerspective"
             hasPages="false"
             icon="icons/text_file_new.gif"
             id="com.aptana.ide.editors.wizards.file.UntitledTextFileWizard"
             name="%Wizard.text.untitledfile.name"
             preferredPerspectives="com.aptana.ide.js.ui.WebPerspective">
          <description>
             %UntitledTextFile.wizard.description
          </description>
       </wizard>
       <wizard
             category="com.aptana.ide.core.ui.projects"
             class="com.aptana.ide.editors.wizards.NewLexerFileWizard"
             finalPerspective="com.aptana.ide.js.ui.WebPerspective"
             icon="icons/xml_file_new.png"
             id="com.aptana.ide.editors.wizards.LexerNewWizard"
             name="%Wizard.lexer.file.name"
             preferredPerspectives="com.aptana.ide.js.ui.WebPerspective">
          <description>
             %LexerFile.wizard.description
          </description>
       </wizard>
       <wizard
             category="com.aptana.ide.core.ui.projects"
             class="com.aptana.ide.editors.wizards.NewColorizationFileWizard"
             finalPerspective="com.aptana.ide.js.ui.WebPerspective"
             icon="icons/xml_file_new.png"
             id="com.aptana.ide.editors.wizards.ColorizationNewWizard"
             name="%Wizard.colorization.file.name"
             preferredPerspectives="com.aptana.ide.js.ui.WebPerspective">
          <description>
             %ColorizationFile.wizard.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="true"
             category="com.aptana.ide.core.ui"
             class="com.aptana.ide.editors.wizards.UntitledLexerFileWizard"
             finalPerspective="com.aptana.ide.js.ui.WebPerspective"
             hasPages="false"
             icon="icons/xml_file_new.png"
             id="com.aptana.ide.editors.wizards.UntitledLexerFileWizard"
             name="%Wizard.lexer.untitledfile.name"
             preferredPerspectives="com.aptana.ide.js.ui.WebPerspective">
          <description>
             %UntitledLexerFile.wizard.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="true"
             category="com.aptana.ide.core.ui"
             class="com.aptana.ide.editors.wizards.UntitledColorizationFileWizard"
             finalPerspective="com.aptana.ide.js.ui.WebPerspective"
             hasPages="false"
             icon="icons/xml_file_new.png"
             id="com.aptana.ide.editors.wizards.UntitledColorizationFileWizard"
             name="%Wizard.colorization.untitledfile.name"
             preferredPerspectives="com.aptana.ide.js.ui.WebPerspective">
          <description>
             %UntitledColorizationFile.wizard.description
          </description>
       </wizard>            
  </extension>
   
  <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.aptana.ide.aptana"
            name="%ImportWizards.category.name"/>        
   </extension>
  
   <extension point="org.eclipse.help.contexts"> 
		<contexts
        file="contexts.xml"
        /> 
   </extension>
   
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ValidationViewActions"
            targetID="com.aptana.ide.js.ui.views.problemsView">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.editors.problems_view_context"
               label="%ShowHelp.action.label"
               style="push"
               toolbarPath="editorsGroup"
               tooltip="%ShowHelpForValidationView.action.tooltip"/>     
         <!-- 
         Commented by Pavel Petrochenko 
         this actions  are now contributed directly in ValidationView.         
         <action
               class="com.aptana.ide.editors.actions.ShowErrors"
               icon="icons/error.png"
               id="com.aptana.ide.editors.actions.ShowErrors"
               label="Show Errors"
               state="true"
               style="toggle"
               toolbarPath="editorsGroup"
               tooltip="Toggle Show Errors"/>
         <action
               class="com.aptana.ide.editors.actions.ShowWarnings"
               icon="icons/warning.png"
               id="com.aptana.ide.editors.actions.ShowWarnings"
               label="Show &amp;Warnings"
               state="false"
               style="toggle"
               toolbarPath="editorsGroup"
               tooltip="Toggle Show Warnings"/>
         <action
               class="com.aptana.ide.editors.actions.ShowInfos"
               icon="icons/information.png"
               id="com.aptana.ide.editors.actions.ShowInfos"
               label="Show &amp;Information"
               state="false"
               style="toggle"
               toolbarPath="editorsGroup"
               tooltip="Toggle Show Information"/>-->                         
   		</viewContribution>
   </extension> 
  <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ProfilesViewActions"
            targetID="com.aptana.ide.js.ui.views.profilesView">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.editors.profiles_view_context"
               label="%ShowHelp.action.label"
               style="push"
               toolbarPath="additions"
               tooltip="%ShowHelpForValidationView.action.tooltip1"/>     
   		</viewContribution>
   </extension>        
  <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ActionsViewActions"
            targetID="com.aptana.ide.js.ui.views.actionsView">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.editors.actions_view_context"
               label="%ShowHelp.action.label"
               style="push"
               toolbarPath="additions"
               tooltip="%ShowHelpForValidationView.action.tooltip2"/>     
   		</viewContribution>
   </extension>  

  <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ScriptsViewActions"
            targetID="org.eclipse.eclipsemonkey.views.ScriptsView">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.editors.scripts_view_context"
               label="%ShowHelp.action.label"
               style="push"
               toolbarPath="additions"
               tooltip="%ShowHelpForValidationView.action.tooltip3"/>     
   		</viewContribution>
   </extension> 
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.editors.actionSet"
            label="%AptanaGlobalEditorTools.actionSet.label"
            visible="false">
         <action
         	   allowLabelUpdate="true"
               definitionId="com.aptana.ide.editors.actions.ShowPianoKeys"
               icon="icons/templates.png"
               id="com.aptana.ide.editors.actions.ShowPianoKeys"
               label="%ShowPianoKeys.action.label"
               style="toggle"
               retarget="true"
               toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
               tooltip="%ShowPianoKeyEditorColoring.action.label"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.aptana.ide.js.ui.WebPerspective">
         <actionSet id="com.aptana.ide.editors.actionSet"/>
      </perspectiveExtension>
   </extension>   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
          category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
          class="com.aptana.ide.editors.preferences.GeneralPreferencePage"
          id="com.aptana.ide.editors.preferences.GeneralPreferencePage"
          name="%generalPreferencePage"/>
      <!--
      <page
            category="com.aptana.ide.core.ui.preferences.ColorizerPreferencePage"
            class="com.aptana.ide.editors.preferences.ColorizerPreferencePage"
            id="com.aptana.ide.editors.preferences.ColorizerPreferencePage"
            name="Colorizing Prefs"/> -->
      <page
            class="com.aptana.ide.editors.preferences.AdvancedPreferencePage"
            id="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            name="%advancedPreferencePage"/>            
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.ide.editors.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.ide.editors.UnifiedEditorsScope"
            name="%AptanaEditors.context.name"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   	   
   <extension
         point="org.eclipse.ui.commands">
         
	  <category
			id="com.aptana.ide.editors"
			name="%AllAptanaEditors.category.name"/> 
         
      <command
            categoryId="com.aptana.ide.editors"
            id="com.aptana.ide.editors.showDocAction"
            name="%ShowDocumentation.command.name"/>

      <command
            categoryId="com.aptana.ide.editors"
            id="com.aptana.ide.editors.openDeclarationAction"
            name="%OpenDeclaration.command.name"/>
      <command
            categoryId="com.aptana.ide.editors"
            id="net.sf.colorer.eclipse.editors.pairmatch"
            name="%MatchPairedStructure.command.name"/>
      <command
            categoryId="com.aptana.ide.editors"
            id="net.sf.colorer.eclipse.editors.pairselectcontent"
            name="%SelectPairsContent.command.name"/>
      <command
            categoryId="com.aptana.ide.editors"
            id="net.sf.colorer.eclipse.editors.pairselect"
            name="%SelectPair.command.name"/>
  <command
        categoryId="com.aptana.ide.editors"
        id="com.aptana.ide.editors.quickOutlineAction"
        name="%QuickOutline.command.name">
  </command>
  
      <command
            categoryId="com.aptana.ide.editors"
            id="com.aptana.ide.editors.nextMultipageEditorTab"
            name="%NextMultipageEditorTab.command.name"/>
      <command
            categoryId="com.aptana.ide.editors"
            id="com.aptana.ide.editors.previousMultipageEditorTab"
            name="%PreviousMultipageEditorTab.command.name"/>
            
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         
      <key
		    commandId="com.aptana.ide.editors.showDocAction"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2"/>
      <key
            commandId="org.eclipse.ui.edit.text.toggleShowWhitespaceCharacters"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+."/>

      <key
		    commandId="com.aptana.ide.editors.openDeclarationAction"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>      
      <key
            commandId="org.eclipse.ui.edit.text.shiftLeft"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ARROW_LEFT"/>
      <key
            commandId="org.eclipse.ui.edit.text.shiftRight"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+ARROW_RIGHT"/>
      <key
            commandId="com.aptana.ide.editors.quickOutlineAction"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      
      <key
            commandId="com.aptana.ide.editors.nextMultipageEditorTab"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+TAB">
      </key>
      <key
            commandId="com.aptana.ide.editors.previousMultipageEditorTab"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+TAB">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <!-- linked annotations -->
	  <specification
            annotationType="org.eclipse.jdt.ui.link.master"
            colorPreferenceValue="70,100,165"
            colorPreferenceKey="linked.focus.color"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="linked.focus.navigation.previous"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="linked.focus.navigation.dropdown"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="linked.focus.navigation.next"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            label="%linked.focus.label"
            textPreferenceValue="true"
            textPreferenceKey="linked.focus.text"
            highlightPreferenceKey="linked.focus.highlight"
            highlightPreferenceValue="false"
            textStylePreferenceKey="linked.focus.text.style"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="linked.focus.verticalruler"
            verticalRulerPreferenceValue="false"
            includeOnPreferencePage="false"
            overviewRulerPreferenceKey="linked.focus.overviewruler">
      </specification>      
      <specification
            annotationType="org.eclipse.jdt.ui.link.slave"
            colorPreferenceValue="180,215,255"
            colorPreferenceKey="linked.slave.color"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="linked.slave.navigation.previous"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="linked.slave.navigation.dropdown"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="linked.slave.navigation.next"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            label="%linked.slave.label"
            textPreferenceValue="false"
            textPreferenceKey="linked.slave.text"
            highlightPreferenceKey="linked.slave.highlight"
            highlightPreferenceValue="true"
            textStylePreferenceKey="linked.slave.text.style"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="linked.slave.verticalruler"
            verticalRulerPreferenceValue="false"
            includeOnPreferencePage="false"
            overviewRulerPreferenceKey="linked.slave.overviewruler">
      </specification>      
      <specification
            annotationType="org.eclipse.jdt.ui.link.target"
            colorPreferenceValue="70,100,165"
            colorPreferenceKey="linked.target.color"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="linked.target.navigation.previous"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="linked.target.navigation.dropdown"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="linked.target.navigation.next"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            label="%linked.target.label"
            textPreferenceValue="true"
            textPreferenceKey="linked.target.text"
            highlightPreferenceKey="linked.target.highlight"
            highlightPreferenceValue="false"
            textStylePreferenceKey="linked.target.text.style"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="linked.target.verticalruler"
            verticalRulerPreferenceValue="false"
            includeOnPreferencePage="false"
            overviewRulerPreferenceKey="linked.target.overviewruler">
      </specification>
	  <specification
            annotationType="org.eclipse.jdt.ui.link.exit"
            colorPreferenceValue="0,180,0"
            colorPreferenceKey="linked.exit.color"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="linked.exit.navigation.previous"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="linked.exit.navigation.dropdown"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="linked.exit.navigation.next"
            contributesToHeader="false"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            label="%FinalCaretLocation.label"
            textPreferenceValue="true"
            textPreferenceKey="linked.exit.text"
            highlightPreferenceKey="linked.exit.highlight"
            highlightPreferenceValue="false"
            textStylePreferenceKey="linked.exit.text.style"
            textStylePreferenceValue="IBEAM"
            verticalRulerPreferenceKey="linked.exit.verticalruler"
            verticalRulerPreferenceValue="false"
            includeOnPreferencePage="false"
            overviewRulerPreferenceKey="linked.exit.overviewruler">
      </specification>
   </extension>
      	   
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%UntitledTextEditor.editor.name"
            icon="icons/file_obj.gif"
            class="com.aptana.ide.editors.untitled.UntitledTextFileEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="com.aptana.ide.ui.UntitledTextEditor">
            <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text"
            /> 
      </editor>
    </extension>
 
    <extension
          point="com.aptana.ide.core.ui.file_wizards">
       <untitled-file-wizard
             name="New Untitled Text File"
             wizard-id="com.aptana.ide.editors.wizards.file.UntitledTextFileWizard"/>
    </extension>
     <extension
   		point="org.eclipse.ui.keywords">
   		 <keyword
            label="%generalKeywords"
            id="com.aptana.ide.editors.general"/>
         <keyword
            label="%colorsKeywords"
            id="com.aptana.ide.editors.colors"/>
         <keyword
            label="%foldingKeywords"
            id="com.aptana.ide.editors.folding"/>
         <keyword
            label="%codeAssistKeywords"
            id="com.aptana.ide.editors.codeassist"/>
         <keyword
            label="%formattingKeywords"
            id="com.aptana.ide.editors.formatting"/>
         <keyword
            label="%typingKeywords"
            id="com.aptana.ide.editors.typing"/>
         <keyword
            label="%validationKeywords"
            id="com.aptana.ide.editors.validation"/>
   	</extension> 
   	<extension
             point="org.eclipse.ui.themes">          
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.ListBackgroundColorFactory"
                id="com.aptana.ide.core.ui.background.color.profilesView"
                isEditable="true"
                label="%profilesViewBackroundColor.name"/>
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.ListBackgroundColorFactory"
                id="com.aptana.ide.core.ui.background.color.validationView"
                isEditable="true"
                label="%validationViewBackroundColor.name"/>
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                id="com.aptana.ide.core.ui.foreground.color.profilesView"
                isEditable="true"
                label="%profilesViewforeroundColor.name"/>
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                id="com.aptana.ide.core.ui.foreground.color.validationView"
                isEditable="true"
                label="%validationViewforeroundColor.name"/>               
     </extension>
    <extension
          point="com.aptana.ide.editors.userAgent">
       <user-agent
             icon="icons/ie_icon.png"
             icon-disabled="icons/ie_icon_grey.png"
             id="IE"
             name="Internet Explorer">
       </user-agent>
       <user-agent
             icon="icons/firefox_icon.png"
             icon-disabled="icons/firefox_icon_grey.png"
             id="Mozilla"
             name="Firefox">
       </user-agent>
       <user-agent
             icon="icons/netscape_icon.png"
             icon-disabled="icons/netscape_icon_grey.png"
             id="Netscape"
             name="Netscape">
       </user-agent>
       <user-agent
             icon="icons/opera_icon.png"
             icon-disabled="icons/opera_icon_grey.png"
             id="Opera"
             name="Opera">
       </user-agent>
       <user-agent
             icon="icons/safari_icon.png"
             icon-disabled="icons/safari_icon_grey.png"
             id="Safari"
             name="Safari">
       </user-agent>
    </extension>
    
    <extension
         point="org.eclipse.ui.commands">
      <command
            category="com.aptana.ide.editor.navigation"
            id="com.aptana.ide.editor.nextMember"
            name="%gotoNext">
      </command>
      <command
            category="com.aptana.ide.editor.navigation"
            id="com.aptana.ide.editor.previousMember"
            name="%gotoPrevious">
      </command>
      <category
            id="com.aptana.ide.editor.navigation"
            name="%aptanaNavigation">
      </category>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%gotoMatchingPair.desc"
            id="com.aptana.ide.editors.goto.matching.bracket"
            name="%gotoMatchingPair.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <key
	        sequence="M1+M2+ARROW_UP"
	        contextId="com.aptana.ide.editors.UnifiedEditorsScope"
	        commandId="com.aptana.ide.editor.previousMember"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	        <key
	        sequence="M1+M2+ARROW_DOWN"
	        contextId="com.aptana.ide.editors.UnifiedEditorsScope"
	        commandId="com.aptana.ide.editor.nextMember"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key
	        sequence="CTRL+SHIFT+ARROW_UP"
	        platform="carbon"
	        contextId="com.aptana.ide.editors.UnifiedEditorsScope"
	        commandId="com.aptana.ide.editor.previousMember"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>	           			           		
      	<key
            platform="carbon"
            sequence="CTRL+SHIFT+ARROW_DOWN"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
	        commandId="com.aptana.ide.editor.nextMember"
	        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	    />  
	    <key
            commandId="com.aptana.ide.editors.goto.matching.bracket"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>    
   </extension>   
   <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="popup:#UnifiedRulerContext">
       <dynamic class="org.eclipse.ecf.internal.provisional.docshare.menu.DocShareRosterMenuContributionItem"
             id="com.aptana.ide.editors.share.dynamic1">
       </dynamic>
     </menuContribution>
   </extension>
   <extension
         point="com.aptana.ide.core.buildParticipants">
      <buildParticipant
            class="com.aptana.ide.editors.tasks.TaskBuildParticipant">
      </buildParticipant>
   </extension>
   <extension
         id="task"
         name="Aptana Tasks"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
