<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!--
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.ide.installer.InstallerStartup">
      </startup>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.installer.actionSet"
            label="%ActionSet.installer.label"
            visible="false">
         <menu
               id="aptanahelp"
               label="%ActionSet.Menu.Aptana.label"
               path="help/aptanaGroup">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="jaxer">
            </groupMarker>
            <groupMarker
                  name="messagecenter">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="update">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
            <groupMarker
                  name="troubleshooting">
            </groupMarker>
            <groupMarker
                  name="help">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.ide.installer.actions.InstallerAction"
               icon="icons/aptana16.gif"
               id="com.aptana.ide.installer.actions.aptanamenu.Installer"
               label="%Installer.label"
               menubarPath="help/aptanaUpdate"
               style="push">
         </action>
       </actionSet>
       <!-- The funcky p. prefix in the actionSet id controls the order of the button in the toolbar -->
       <actionSet
            id="p.com.aptana.ide.installer.toolbar.actionSet"
            label="%ActionSet.installer.label"
            visible="false">
         <action
               class="com.aptana.ide.installer.actions.InstallerAction"
               icon="icons/plugin.png"
               id="com.aptana.ide.installer.actions.toolbar.Installer"
               label="%Installer.label"
               style="pulldown"
               toolbarPath="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView/aptanatoolbar">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ide.js.ui.WebPerspective">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.aptana.ide.db.PerspectiveFactory">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.radrails.rails.ui.PerspectiveRails">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.wst.web.ui.webDevPerspective">
         <actionSet
               id="com.aptana.ide.installer.actionSet">
         </actionSet>
         <actionSet
               id="p.com.aptana.ide.installer.toolbar.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.aptana.ide.js.ui"
            class="com.aptana.ide.installer.views.PluginsView"
            icon="icons/plugin.png"
            id="com.aptana.ide.ui.ViewPlugins"
            name="%view.name.plugins">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="PluginViewActions"
            targetID="com.aptana.ide.ui.ViewPlugins">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.installer.plugins_view_context"
               label="%action.label.showHelp"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.showHelp">
         </action>
         <action
               class="com.aptana.ide.installer.actions.InstallFeatureAction"
               disabledIcon="icons/add_disabled.png"
               enablesFor="*"
               icon="icons/add.png"
               id="com.aptana.ide.installer.actions.InstallFeatureAction"
               label="%action.label.install"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.install">
         </action>
         <action
               class="com.aptana.ide.installer.actions.RemoveFeatureAction"
               disabledIcon="icons/delete_disabled.png"
               enablesFor="+"
               icon="icons/delete.png"
               id="com.aptana.ide.installer.actions.RemoveFeatureAction"
               label="%action.label.remove"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.remove">
         </action>
         <action
               class="com.aptana.ide.installer.views.ToggleLatestFeatureAction"
               icon="icons/new.png"
               id="com.aptana.ide.installer.views.ToggleLatestFeatureAction"
               label="%action.label.showLatest"
               state="true"
               style="toggle"
               toolbarPath="additions"
               tooltip="%action.tooltip.showLatest">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="com.aptana.ide.core.ui.apearance"
            colorFactory="com.aptana.ide.core.ui.ListBackgroundColorFactory"
            id="com.aptana.ide.core.ui.background.color.pluginsView"
            isEditable="true"
            label="%pluginsViewBackroundColor.name">
      </colorDefinition>
      <colorDefinition
            categoryId="com.aptana.ide.core.ui.apearance"
            colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
            id="com.aptana.ide.core.ui.foreground.color.pluginsView"
            isEditable="true"
            label="%pluginsViewForeroundColor.name">
      </colorDefinition>
   </extension>

</plugin>
