<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.ide.editor.text.GenericTextEditor"
            contributorClass="com.aptana.ide.editors.unified.actions.UnifiedActionContributor"
            default="false"
            extensions=""
            icon="icons/aptana_text.gif"
            id="com.aptana.ide.editor.text"
            name="%genericTextEditor">
         <contentTypeBinding
               contentTypeId="com.aptana.ide.editor.text.contentTypes">
         </contentTypeBinding>
      </editor>
   </extension>
     <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="com.aptana.ide.editors.actionSet">
         <part
               id="com.aptana.ide.editor.text">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="com.aptana.ide.editor.text">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ide.editors.preferences.GeneralPreferencePage"
            class="com.aptana.ide.editor.text.preferences.TextEditorPreferencePage"
            id="com.aptana.ide.editor.text.preferences.TextEditorPreferencePage"
            name="%generalTextPreferencePage"/>
   </extension>
   <extension
         id="com.aptana.ide.editor.text.contentTypes"
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            id="com.aptana.ide.editor.text.contentType"
            name="%content-type.name.editor"
            priority="normal">
      </content-type>
   </extension>
</plugin>
