<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="com.aptana.ide.server.launchServer"
            delegate="com.aptana.ide.server.core.launch.http.HttpServerLaunchConfigurationDelegate"
            id="com.aptana.ide.server.launch.launchConfigurationType.httpServer"
            modes="run"
            name="%launchConfigurationType.name.server"
            />
   </extension>
   <extension
             point="org.eclipse.ui.themes">          
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.ListBackgroundColorFactory"
                id="com.aptana.ide.core.ui.background.color.serversView"
                isEditable="true"
                label="%ServersViewBackroundColor.name"/>
		 <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                id="com.aptana.ide.core.ui.foreground.color.serversView"
                isEditable="true"
                label="%ServersViewforeroundColor.name"/>                               
     </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.aptana.ide.server.ui.serverview.toolbar"
            targetID="com.aptana.ide.server.ui.views.ServersView">
         <action
               class="com.aptana.ide.server.ui.actions.ServerStopActionDelegate"
               icon="icons/stop.gif"
               id="com.aptana.ide.server.ui.action2"
               label="%action.label.server"
               style="push"
               toolbarPath="additions"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.aptana.ide.server.launch.launchConfigurationType.httpServer"
            icon="icons/launch-httpServer.gif"
            id="com.aptana.ide.server.ui.launch.launchConfigurationTypeImage.httpServer"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.aptana.ide.server.ui.launchConfigurations.HttpServerLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description.server"
            id="com.aptana.ide.server.ui.launchConfigurationTabGroup.httpServer"
            type="com.aptana.ide.server.launch.launchConfigurationType.httpServer"/>
   </extension>
   
   <!--<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Launch Action Set"
            visible="false"
            id="com.aptana.ide.server.ui.launchActionSet">        
         <menu
               id="com.aptana.ide.server.ui.launch"
               label="&amp;Run"
               path="additions"/>
         <action
               class="com.aptana.ide.server.ui.actions.RunServerToolbarAction"
               disabledIcon="icons/run_exc.gif"
               hoverIcon="icons/run_exc.gif"
               icon="icons/run_exc.gif"
               id="com.aptana.ide.server.ui.actions.RunDropDownAction"
               label="Run"
               style="pulldown"
               toolbarPath="debug"
               tooltip="Launch Start Page">
         </action>

      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/server.gif"
            category="com.aptana.ide.server.launchServer"
            id="com.aptana.ide.server.ui.launchGroup.runServer"
            image="icons/server.gif"
            label="Run Configuration"
            mode="run"
            public="true"/>
   </extension>-->
   
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="ServersViewActions"
            targetID="com.aptana.ide.server.ui.serversView">
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="com.aptana.ide.server.ui.servers_context_view"
               label="%action.label.showhelp"
               style="push"
               toolbarPath="additions"/>     
   		</viewContribution>
   </extension>  
   <extension point="org.eclipse.help.contexts"> 
		<contexts file="contexts.xml" /> 
   </extension>
   
      <extension
         point="org.eclipse.ui.preferencePages">      
      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.ide.server.ui.preferences.HTTPServerPreferencePage"
            id="com.aptana.ide.server.ui.preferences.httpServer"
            name="%Preferences.httpServer.name"/>
         
      <!--
      <page
          category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
          class="com.aptana.ide.server.ui.preferences.GeneralPreferencePage"
          id="com.aptana.ide.server.ui.preferences.GeneralPreferencePage"
          name="%generalPreferencePage"/>
      -->
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.ide.server.ui.preferences.PreferenceInitializer"/>
   </extension>
  <extension-point id="serverImages" name="Server Images" schema="schema/serverImages.exsd"/>
  <extension-point id="configurationDialogs" name="Configuration Dialog" schema="schema/configurationDialogs.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.aptana.ide.js.ui"
            class="com.aptana.ide.server.ui.views.GenericServersView"
            fastViewWidthRatio="0.6"
            icon="icons/server/server.gif"
            id="com.aptana.ide.server.ui.serversView"
            name="%serverViewTitle">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.aptana.ide.server.ui.ServerConsolePageParticipant"
            id="com.aptana.ide.server.ui.consolePageParticipant1">
         <enablement>
            <instanceof
                  value="org.eclipse.ui.console.IOConsole">
            </instanceof>
         </enablement>
      </consolePageParticipant>
   </extension>  
   
    <extension
       point="com.aptana.ide.server.serverTypes">
    <serverType
          category="%serverType.category.server"
          class="com.aptana.ide.server.generic.GenericServerTypeDelegate"
          description="%serverType.description.server"
          id="com.aptana.ide.server.generic.genericHttpServer"
          isExternal="true"
          launchModes="run"
          name="%serverType.name.server"
          supportsPublish="false"
          supportsRestart="true">
    </serverType>
 </extension>
 <extension
       point="com.aptana.ide.server.ui.serverImages">
    <serverTypeImage
          image="icons/server.gif"
          typeId="com.aptana.ide.server.generic.genericHttpServer">
    </serverTypeImage>
 </extension>
 <extension
       point="com.aptana.ide.server.ui.configurationDialogs">
    <serverDialog
          class="com.aptana.ide.server.ui.generic.dialogs.GenericConfigurationDialog"
          typeId="com.aptana.ide.server.generic.genericHttpServer"></serverDialog>
 </extension>
	<extension
          point="com.aptana.ide.server.ui.serverImages">
       <serverTypeImage
             image="icons/server/apache.png"
             typeId="com.aptana.ide.server.apache">
       </serverTypeImage>
       <serverTypeImage
             image="icons/server/sql.gif"
             typeId="com.aptana.ide.server.mysql">
       </serverTypeImage>
       <serverTypeImage
             image="icons/server/xampp_start.gif"
             typeId="com.aptana.ide.server.xampp">
       </serverTypeImage>
    </extension>
    <extension
          point="com.aptana.ide.server.serverTypes">
       <serverType
             category="%serverType.category.apache"
             class="com.aptana.ide.server.internal.ApacheServerTypeDelegate"
             description="%serverType.description.apache"
             id="com.aptana.ide.server.apache"
             isExternal="true"
             launchModes="run"
             name="%serverType.name.apache"
             supportsPublish="true"
             supportsRestart="true">
       </serverType>
       <serverType
             category="%serverType.category.database"
             class="com.aptana.ide.server.internal.MySqlServerTypeDelegate"
             description="%serverType.description.database"
             id="com.aptana.ide.server.mysql"
             isExternal="true"
             launchModes="run"
             name="%serverType.name.database"
             supportsPublish="false"
             supportsRestart="false">
       </serverType>
       <serverType
             category="%serverType.category.xampp"
             class="com.aptana.ide.server.internal.XAMPPServerTypeDelegate"
             description="%serverType.description.xampp"
             id="com.aptana.ide.server.xampp"
             isExternal="true"
             launchModes="run"
             name="%serverType.name.xampp"
             supportsPublish="true"
             supportsRestart="false">
       </serverType>
    </extension>
    <extension
          point="com.aptana.ide.server.ui.configurationDialogs">
       <serverDialog
             class="com.aptana.ide.server.configuration.ui.ApacheServerDialog"
             typeId="com.aptana.ide.server.apache">
       </serverDialog>
       <serverDialog
             class="com.aptana.ide.server.configuration.ui.MySqlDialog"
             typeId="com.aptana.ide.server.mysql">
       </serverDialog>
    </extension>
    <extension
          point="com.aptana.ide.server.serverInitializer">
       <initializer
             typeId="com.aptana.ide.server.apache">
          <property
                name="path"
                value=""
                OpSystem="win32">
          </property>
          <property
                name="name"
                value="Local Apache Server">
          </property>
          <property
                name="start"
                value="-k start">
          </property>
          <property
                name="restart"
                value="-k restart">
          </property>
          <property
                name="shutdown"
                value="-k shutdown">
          </property>
       </initializer>
       <initializer
             typeId="com.aptana.ide.server.mysql">
          <property
                name="launchargs"
                value="--standalone">
          </property>
          <property
                name="path"
                os="win32"
                value="C:\xampp\mysql\bin\mysqld-nt.exe">
          </property>
       </initializer>
       <initializer
             typeId="com.aptana.ide.server.xampp">
          <property
                name="stoppath"
                os="win32"
                value="C:\xampp\xampp_stop.exe">
          </property>
          <property
                name="path"
                os="win32"
                value="C:\xampp">
          </property>
       </initializer>
    </extension>    
    <extension
       point="org.eclipse.ui.decorators">
    <decorator
          adaptable="true"
          class="com.aptana.ide.server.ui.decorators.WebServerDecorator"
          id="com.aptana.ide.framework.jaxer.webserverDecorator"
          label="%webserverdecorator"
          lightweight="false"
          location="BOTTOM_RIGHT"
          state="true">
       <enablement>
          <objectClass
                name="com.aptana.ide.server.core.IServer">
          </objectClass>
       </enablement>
    </decorator>
 </extension>
    <extension
          point="com.aptana.ide.logging.defaultlog">
       <log
             provider="com.aptana.ide.server.ui.logging.ServersLogProvider">
       </log>
    </extension>
    <extension
          point="org.eclipse.debug.core.statusHandlers">
       <statusHandler
             class="com.aptana.ide.server.ui.LoadServerStatusHandler"
             code="333"
             id="com.aptana.ide.server.ui.statusHandler1"
             plugin="com.aptana.ide.server">
       </statusHandler>
    </extension>
</plugin>
