REGEDIT4

[HKEY_CLASSES_ROOT\aptanaplugininstaller]
@="URL:aptanaplugininstaller Protocol"
"URL Protocol"=""

[HKEY_CLASSES_ROOT\aptanaplugininstaller\shell]

[HKEY_CLASSES_ROOT\aptanaplugininstaller\shell\open]

[HKEY_CLASSES_ROOT\aptanaplugininstaller\shell\open\command]
@="\"@eclipse.launcher@\" -application com.aptana.ide.desktop.integration.Application -handleURL \"%1\"" 
