<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.messagecenter.ui.messageCenterActionSet"
            label="%actionSet.label.MessageCenter"
            visible="false">
         <menu
               id="aptanahelp"
               label="%ActionSet.Menu.Aptana.label"
               path="help/aptanaGroup">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="jaxer">
            </groupMarker>
            <groupMarker
                  name="messagecenter">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="update">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
            <groupMarker
                  name="troubleshooting">
            </groupMarker>
            <groupMarker
                  name="help">
            </groupMarker>
         </menu>
         <menu
               id="messagecentermenu"
               label="%menu.label.MessageCenter"
               path="help/aptanahelp/messagecenter">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.ide.messagecenter.ui.actions.ConfigureFeedsAction"
               icon="icons/configure.gif"
               id="com.aptana.ide.messagecenter.ui.configurefeeds"
               label="%action.label.ConfigureFeeds"
               menubarPath="help/aptanahelp/messagecentermenu/additions"
               style="push">
         </action>
         <action
               class="com.aptana.ide.messagecenter.ui.actions.RefreshFeedsAction"
               icon="icons/refresh.gif"
               id="com.aptana.ide.messagecenter.ui.refreshfeeds"
               label="%action.label.RefreshFeeds"
               menubarPath="help/aptanahelp/messagecentermenu/additions"
               style="push">
         </action>
         <action
               class="com.aptana.ide.messagecenter.ui.actions.OpenMessageCenterAction"
               icon="icons/aptana_envelope.png"
               id="com.aptana.ide.messagecenter.ui.openmessagecenter"
               label="%action.label.OpenMC"
               menubarPath="help/aptanahelp/messagecentermenu/additions"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.ide.messagecenter.ui.preferences.MessageCenterPreferencePage"
            id="com.aptana.ide.messagecenter.preferences.MessageCenterPreferencePage"
            name="%Preferencepage.messageCenter.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.ide.messagecenter.ui.MessagesEditor"
            icon="icons/aptana_envelope.png"
            id="com.aptana.ide.messagecenter.ui.messageEditor"
            name="%Editor.messagecenter.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ide.js.ui.WebPerspective">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.aptana.ide.db.PerspectiveFactory">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.radrails.rails.ui.PerspectiveRails">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.wst.web.ui.webDevPerspective">
         <actionSet
               id="com.aptana.ide.messagecenter.ui.messageCenterActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.aptana.ide.server.jetty.cometClient">
      <client
            class="com.aptana.ide.messagecenter.ui.MessagesClient"
            id="/portal/messages">
      </client>
   </extension>

</plugin>
