<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.pathtools.resourceObjectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.aptana.ide.pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="com.aptana.ide.PathTools.CopyPath"
               label="%CopyPath"
               menubarPath="additions">
     	</action>
         <action
               class="com.aptana.ide.pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="com.aptana.ide.PathTools.Explore"
               label="%FileExplorer"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.LocaShellAction"
               enablesFor="1"
               icon="icons/shell.png"
               id="com.aptana.ide.PathTools.Edit"
               label="%Shell"
               menubarPath="additions">
         </action>     
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.ide.pathtools.fileSystemObjectContribution"
            objectClass="com.aptana.ide.core.ui.io.file.LocalFile">
         <action
               class="com.aptana.ide.pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="com.aptana.ide.PathTools.CopyPath"
               label="%CopyPath"
               menubarPath="additions">
     	</action>
         <action
               class="com.aptana.ide.pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="com.aptana.ide.PathTools.Explore"
               label="%FileExplorer"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.LocaShellAction"
               enablesFor="1"
               icon="icons/shell.png"
               id="com.aptana.ide.PathTools.Edit"
               label="%Shell"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.ide.pathtools.localRootObjectContribution"
            objectClass="com.aptana.ide.core.io.LocalRoot">
         <action
               class="com.aptana.ide.pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="com.aptana.ide.PathTools.CopyPath"
               label="%CopyPath"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="com.aptana.ide.PathTools.Explore"
               label="%FileExplorer"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.LocaShellAction"
               enablesFor="1"
               icon="icons/shell.png"
               id="com.aptana.ide.PathTools.Edit"
               label="%Shell"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.ide.pathtools.localShortcutsObjectContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="com.aptana.ide.PathTools.CopyPath"
               label="%CopyPath"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="com.aptana.ide.PathTools.Explore"
               label="%FileExplorer"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.LocaShellAction"
               enablesFor="1"
               icon="icons/shell.png"
               id="com.aptana.ide.PathTools.Edit"
               label="%Shell"
               menubarPath="additions">
         </action>
         <visibility>
            <or>
               <objectState
                     name="isLocal"
                     value="true">
               </objectState>
               <objectState
                     name="isWorkspace"
                     value="true">
               </objectState>
            </or>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.pathtools.fileSystemObjectContribution2"
            objectClass="com.aptana.ide.ui.io.navigator.FileSystemObject">
         <action
               class="com.aptana.ide.pathtools.CopyPathAction"
               enablesFor="+"
               icon="icons/copypaths.gif"
               id="com.aptana.ide.PathTools.CopyPath"
               label="%CopyPath"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.ExploreAction"
               enablesFor="1"
               icon="icons/explore.gif"
               id="com.aptana.ide.PathTools.Explore"
               label="%FileExplorer"
               menubarPath="additions">
         </action>
         <action
               class="com.aptana.ide.pathtools.LocaShellAction"
               enablesFor="1"
               icon="icons/shell.png"
               id="com.aptana.ide.PathTools.Edit"
               label="%Shell"
               menubarPath="additions">
         </action>
         <visibility>
            <objectState
                  name="isLocal"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.pathtools.preferences.PathtoolsPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">

      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.ide.pathtools.WorkbenchPreferencePage"
            id="com.aptana.ide.pathtools.PathToolsPreferencesPage"
            name="%page.name.pathtools">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.pathtools.actionSet"
            label="%actionSet.label.pathtools"
            visible="false">
         <!--
             Due to the Eclipse bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=83006
             the following menu declaration has to be repeated exactly in every action set that
             wants to contribute acions and menus to it.
         -->
         <menu
               id="aptanahelp"
               label="%ActionSet.Menu.Aptana.label"
               path="help/aptanaGroup">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="jaxer">
            </groupMarker>
            <groupMarker
                  name="messagecenter">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="update">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
            <groupMarker
                  name="troubleshooting">
            </groupMarker>
            <groupMarker
                  name="help">
            </groupMarker>
         </menu>
         <menu
               id="troubleshootingmenu"
               label="%ActionSet.Menu.AptanaTroubleshooting.label"
               path="help/aptanahelp/troubleshooting">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="com.aptana.ide.pathtools.ExplorePlacesActions"
               icon="icons/explore.gif"
               id="z.com.aptana.ide.pathtools.explore.action"
               label="%action.label.viewfolder"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1"
               style="pulldown">
         </action>
      </actionSet>
   </extension>
   <extension
             point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension
                targetID="com.aptana.ide.js.ui.WebPerspective">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="com.aptana.ide.db.PerspectiveFactory">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.radrails.rails.ui.PerspectiveRails">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.eclipse.jst.j2ee.J2EEPerspective">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.eclipse.jdt.ui.JavaPerspective">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.eclipse.wst.web.ui.webDevPerspective">
             <actionSet
                   id="com.aptana.ide.pathtools.actionSet">
             </actionSet>
          </perspectiveExtension>
       </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.aptana.ide.core.ui.AptanaNavigator?after=additions">
         <command
               commandId="com.aptana.ide.pathtools.commands.openShell"
               icon="icons/shell.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.aptana.ide.js.ui.views.FileExplorerView?after=additions">
         <command
               commandId="com.aptana.ide.pathtools.commands.openShell"
               icon="icons/shell.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.aptana.ide.ui.io.fileExplorerView?after=additions">
         <command
               commandId="com.aptana.ide.pathtools.commands.openShell"
               icon="icons/shell.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aptana.ide.pathtools.commands.category"
            name="PathTools">
      </category>
      <command
            categoryId="com.aptana.ide.pathtools.commands.category"
            id="com.aptana.ide.pathtools.commands.openShell"
            name="%Shell">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.ide.pathtools.handlers.OpenShellHandler"
            commandId="com.aptana.ide.pathtools.commands.openShell">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <instanceof
                           value="com.aptana.ide.core.ui.io.file.LocalFile">
                     </instanceof>
                     <and>
                        <instanceof
                              value="org.eclipse.core.runtime.IAdaptable">
                        </instanceof>
                        <not>
                           <or>
                              <instanceof
                                    value="com.aptana.ide.core.io.LocalFileSystem">
                              </instanceof>
                              <instanceof
                                    value="com.aptana.ide.core.io.WorkspaceProjects">
                              </instanceof>
                           </or>
                        </not>
                     </and></or>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
