<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.ide.update.ui.SchedulerStartup">
      </startup>
   </extension>
   <extension
         point="com.aptana.ide.server.jetty.cometClient">
      <client
            class="com.aptana.ide.update.actions.SearchForUpdatesClient"
            id="/portal/plugins/updates">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.ide.update.preferences.AutomaticUpdatesPreferencePage"
            id="com.aptana.ide.core.ui.AutomaticUpdatesPreferencePage"
            name="%automaticUpdatesPrefPage">
         <keywordReference
               id="com.aptana.ide.core.ui.update.general">
         </keywordReference>
      </page>
      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.ide.update.preferences.MessagingPreferencesPage"
            id="com.aptana.ide.core.ui.MessagingPreferencesPage"
            name="Messaging">
         <keywordReference
               id="com.aptana.ide.core.ui.update.general">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.ide.update.ui.ExternalWebBrowserEditor"
            contributorClass="org.eclipse.ui.internal.browser.WebBrowserEditorActionBarContributor"
            icon="icons/browser.gif"
            id="com.aptana.ide.update.ui.browser.editor"
            name="%editor.ExternalLinkBrowser.name">
      </editor>
   </extension>
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.update.ui.actionSet"
            label="%ActionSet.update.label"
            visible="false">
         <!--
             Due to the Eclipse bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=83006
             the following menu declaration has to be repeated exactly in every action set that
             wants to contribute acions and menus to it.
         -->
         <menu
               id="aptanahelp"
               label="%ActionSet.Menu.Aptana.label"
               path="help/aptanaGroup">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="jaxer">
            </groupMarker>
            <groupMarker
                  name="messagecenter">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="update">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
            <groupMarker
                  name="troubleshooting">
            </groupMarker>
            <groupMarker
                  name="help">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.ide.update.actions.BrowserDialogAction"
               id="com.aptana.ide.update.ui.action1"
               label="%action.Announcement.label"
               menubarPath="help/aptanahelp/help"
               style="push">
         </action>
      </actionSet>
		   
   </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="com.aptana.ide.js.ui.WebPerspective">
          <actionSet
                id="com.aptana.ide.update.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.radrails.rails.ui.PerspectiveRails">
          <actionSet
                id="com.aptana.ide.update.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
          <actionSet
                id="com.aptana.ide.update.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.eclipse.jst.j2ee.J2EEPerspective">
          <actionSet
                id="com.aptana.ide.update.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.eclipse.jdt.ui.JavaPerspective">
          <actionSet
                id="com.aptana.ide.update.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.eclipse.wst.web.ui.webDevPerspective">
          <actionSet
                id="com.aptana.ide.update.ui.actionSet">
          </actionSet>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.aptana.ide.update.preferences.MessagingPreferencesInitializer">
       </initializer>
    </extension>

</plugin>
