<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.ide.syncing.preferences.PreferenceInitializer"/>
   </extension>
   
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
               class="com.aptana.ide.syncing.NaturePropertyTester"
               id="com.aptana.ide.core.ui.NaturePropertyTester"
               namespace="com.aptana.ide.syncing"
               properties="nature"
               type="org.eclipse.core.resources.IResource">
         </propertyTester>
    </extension>
    
    <extension
          point="org.eclipse.ui.contexts">
       <context
             description="%Context.Sync.description"
             id="com.aptana.core.ui.sync.context"
             name="%Context.Sync.name">
       </context>
    </extension>		   
</plugin>
