<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="messaging" name="Messaging" schema="schema/messaging.exsd"/>
 <extension-point id="requiredFeatures" name="com.aptana.ide.intro.requiredFeatures" schema="schema/requiredFeatures.exsd"/>
      <extension
         point="org.eclipse.ui.actionSets">
	  <!-- The funcky a. prefix in the actionSet id controls the order of the button in the toolbar -->
      <actionSet
            id="a.com.aptana.ide.core.ui.actionSet.myaptana"
            label="%ActionSet.myaptana.label"
            visible="true">
         <action
               class="com.aptana.ide.intro.actions.ShowMyAptanaAction"
               icon="icons/aptana_home.png"
               id="com.aptana.ide.core.ui.actionSet.myAptana"
               label="%Action.home.label"
               style="pulldown"
               toolbarPath="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView/aptanatoolbar">
         </action>
      </actionSet>
	  <!-- The funcky x. prefix in the actionSet id controls the order of the menuitem in the menu -->
      <actionSet
            id="x.com.aptana.ide.core.ui.actionSet.myaptana"
            label="%ActionSet.myaptana.menu.label"
            visible="true">
         <action
               class="com.aptana.ide.intro.actions.ShowMyAptanaAction"
               icon="icons/aptana_home.png"
               id="com.aptana.ide.core.ui.actionSet.menu.myAptana"
               label="%Action.home.label"
               menubarPath="window/showView"
               style="push">
         </action>
      </actionSet>
      <actionSet
            id="com.aptana.ide.intro.actionSet.MyAptanaToolbar"
            label="%actionSet.label.myaptana"
            visible="false">
         <menu
               id="myaptana"
               label="%menu.label.myaptana">
            <groupMarker
                  name="portal">
            </groupMarker>
            <groupMarker
                  name="others">
            </groupMarker>
         </menu>
         <action
               class="com.aptana.ide.intro.actions.AptanaURLAction"
               icon="icons/window1616.png"
               id="com.aptana.ide.intro.actions.AptanaURLAction"
               label="%action.label.AptanaURL"
               menubarPath="myaptana/others"
               style="push">
         </action>
      </actionSet>
    </extension>
	<extension
         point="org.eclipse.ui.startup">
      <startup class="com.aptana.ide.intro.IntroStartup"/>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
         class="com.aptana.ide.intro.browser.CoreBrowserEditor"
         id="com.aptana.ide.intro.browserEditor"
         icon="icons/window1616.png"
         name="%Editor.opening.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.ide.intro.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">

    <page
          category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
          class="com.aptana.ide.intro.preferences.IntroPreferencePage"
          id="com.aptana.ide.intro.preferences.IntroPreferencePage"
          name="%startPage"/>
   </extension>
      <extension point="com.aptana.ide.server.jetty.cometClient">
      	<client id="/portal/projects/new" class="com.aptana.ide.intro.actions.NewWizardClient" />
      	<client id="/portal/files/new" class="com.aptana.ide.intro.actions.NewFileWizardClient" />
      	<client id="/portal/features/changes" class="com.aptana.ide.intro.actions.FeatureChangesClient"/>
      	<client id="/portal/wizard" class="com.aptana.ide.intro.actions.OpenWizardClient"/>
      </extension>
     
</plugin>
