<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.ide.desktop.integration.protocolhandler.ProtocolHandlerStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.desktop.integration.protocolhandler.actionSet"
            label="%actionSet.label.protocolhandler"
            visible="false">
         <menu
               id="aptanahelp"
               label="%menu.label.aptanahelp"
               path="help/aptanaGroup">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="jaxer">
            </groupMarker>
            <groupMarker
                  name="messagecenter">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="update">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
            <groupMarker
                  name="troubleshooting">
            </groupMarker>
            <groupMarker
                  name="help">
            </groupMarker>
         </menu>
         <menu
               id="troubleshootingmenu"
               label="%menu.label.troubleshooting"
               path="help/aptanahelp/troubleshooting">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="com.aptana.ide.desktop.integration.protocolhandler.actions.ProtocolHandlerAction"
               id="com.aptana.ide.desktop.integration.protocolhandler.ProtocolHandlerAction"
               label="%action.label.register"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ide.js.ui.WebPerspective">
         <actionSet
               id="com.aptana.ide.desktop.integration.protocolhandler.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.radrails.rails.ui.PerspectiveRails">
         <actionSet
               id="com.aptana.ide.desktop.integration.protocolhandler.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
         <actionSet
               id="com.aptana.ide.desktop.integration.protocolhandler.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet
               id="com.aptana.ide.desktop.integration.protocolhandler.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="com.aptana.ide.desktop.integration.protocolhandler.actionSet">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.wst.web.ui.webDevPerspective">
         <actionSet
               id="com.aptana.ide.desktop.integration.protocolhandler.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
