<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.aptana.ide.ui.propertyDialogs">
      <dialog
            class="com.aptana.ide.ui.ftp.internal.FTPPropertyDialogProvider"
            id="com.aptana.ide.ui.ftp.dialog"
            objectClass="com.aptana.ide.filesystem.ftp.FTPConnectionPoint">
      </dialog>
   </extension>
   <extension
         point="com.aptana.ide.ui.imageAssociations">
      <image
            icon="icons/full/obj16/ftp.png"
            id="com.aptana.ide.filesystem.ftp.ftpCategory">
      </image>
      <objectImage
            icon="icons/full/obj16/ftp.png"
            objectClass="com.aptana.ide.filesystem.ftp.FTPConnectionPoint">
      </objectImage>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.ftp.ftpCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.ftp.actions.NewFTPConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/new_connection.png"
               id="com.aptana.ide.ui.ftp.actions.newConnection.ftp"
               label="%newFTPConnectionAction.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.filesystem.ftp.ftpCategory">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.aptana.ide.ui.ftp.console.FTPConsoleFactory"
            icon="icons/full/eview16/ftp.png"
            label="%FTPConsole.label">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.filesystem.ftp.FTPPlugin"
            class="com.aptana.ide.ui.ftp.console.FTPCommandLog$Factory">
         <adapter
               type="com.aptana.ide.filesystem.ftp.IFTPCommandLog">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.aptana.ide.ui.ftp.navigator.actions.ExtendedActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.ftp.ExtendedActions">
         <enablement>
            <and>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <test
                     property="com.aptana.ide.core.io.connection.category.id"
                     value="com.aptana.ide.filesystem.ftp.ftpCategory">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>

</plugin>
