<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="file_wizards" name="File Wizards" schema="schema/file_wizards.exsd"/>
   <extension-point id="configuration" name="Runtime/Debug Configuration" schema="schema/configuration.exsd"/>
   <extension-point id="wizard" name="Wizard" schema="schema/wizard.exsd"/>
   <extension-point id="perspectives" name="Perspectives" schema="schema/perspectives.exsd"/>
   <extension-point id="browser" name="Browser" schema="schema/browser.exsd"/>
   <extension-point id="diagnosis" name="Diagnosis" schema="schema/diagnosis.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.ide.core.ui.actionSet.aptanamenu"
            label="%ActionSet.aptanamenu.label"
            visible="false">
         <!--
             Due to the Eclipse bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=83006
             the following menu declaration has to be repeated exactly in every action set that
             wants to contribute acions and menus to it.
         -->
         <menu
               id="aptanahelp"
               label="%ActionSet.Menu.Aptana.label"
               path="help/aptanaGroup">
            <groupMarker
                  name="top">
            </groupMarker>
            <separator
                  name="separator1">
            </separator>
            <groupMarker
                  name="jaxer">
            </groupMarker>
            <groupMarker
                  name="messagecenter">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="update">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
            <groupMarker
                  name="troubleshooting">
            </groupMarker>
            <groupMarker
                  name="help">
            </groupMarker>
         </menu>
         <menu
               id="troubleshootingmenu"
               label="%ActionSet.Menu.AptanaTroubleshooting.label"
               path="help/aptanahelp/troubleshooting">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="com.aptana.ide.core.ui.WindowActionDelegate"
               id="com.aptana.ide.core.ui.actionSet.CleanConfiguration"
               label="%CleanConfiguration.Label"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1">
         </action>
         <action
               class="com.aptana.ide.core.ui.RunDiagnosticActionDelegate"
               id="com.aptana.ide.core.ui.actionSet.RunDiagnostic"
               label="%RunDiagnostic.Label"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1">
         </action>
         <action
               class="com.aptana.ide.core.ui.actions.SubmitBugAction"
               id="com.aptana.ide.core.ui.actionSet.SubmitBug"
               label="%SubmitBug.Label"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1">
         </action>
         <action
               class="com.aptana.ide.core.ui.WindowActionDelegate"
               id="com.aptana.ide.core.ui.actionSet.ClearLog"
               label="%ClearLog.Label"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1">
         </action>
         <action
               class="com.aptana.ide.core.ui.WindowActionDelegate"
               id="com.aptana.ide.core.ui.actionSet.ViewLog"
               label="%ViewLog.Label"
               menubarPath="help/aptanahelp/troubleshootingmenu/slot1">
         </action>
      </actionSet>
		   
  <actionSet
        id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView"
        label="%ActionSet.showaptanaview.label"
        visible="false">
     <action
           class="com.aptana.ide.core.ui.actions.ShowViewAction"
           icon="icons/showaptanaview.gif"
           id="com.aptana.ide.core.ui.actionSet.ShowView"
           label="%Action.Label.ShowView"
           style="pulldown"
           toolbarPath="aptanatoolbar">
     </action>
  </actionSet>
   </extension>
   
   <extension id="preferences" point="org.eclipse.core.runtime.preferences" name="preferences">
		<initializer class="com.aptana.ide.core.ui.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension
        point="org.eclipse.ui.ide.resourceFilters">
        <filter pattern=".tmp*~" selected="true" />
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   	  <!--
  		<page
          category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
          class="com.aptana.ide.core.ui.preferences.ChatPreferencePage"
          id="com.aptana.ide.core.ui.preferences.ChatPreferencePage"
          name="%chatPreferencePage">
   		</page>
   		-->
     
     <page
           category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
           class="com.aptana.ide.core.ui.preferences.PasswordsPreferencePage"
           id="com.aptana.ide.core.ui.UpdateSiteCredentialCachingPreferencePage"
           name="%passwordsPreferencePage"/>
           
     <page
           category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
           class="com.aptana.ide.core.ui.preferences.ExportPreferencesPreferencePage"
           id="com.aptana.ide.core.ui.prefBackupPage"
           name="%PreferencesBackup">
     </page>
   
   </extension>
   
      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.aptana.ide.core.ui.WebPerspectiveFactory"
            icon="icons/window1616.png"
            id="com.aptana.ide.js.ui.WebPerspective"
            name="%Perspective.Aptana.name"/>
   </extension>
   
   <extension point="org.eclipse.help.contexts"> 
		<contexts file="contexts.xml" /> 
   </extension>	
   <extension
         id="problem"
         name="%UnifiedProblemName"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="id"/>
      <attribute name="flags"/>
      <attribute name="arguments"/>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.aptana.ide.js.ui"
            name="%View.Aptana.name"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.aptana.ide.core.ui.syncing.ConsolePageParticipant"
            id="com.aptana.ide.ui.syncing.consolePageParticipant">
         <enablement>
            <instanceof value="com.aptana.ide.core.ui.syncing.SyncingConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.aptana.ide.core.internal.ui.WebFilesPropertyTester"
               id="com.aptana.ide.core.ui.WebFilesPropertyTester"
               namespace="com.aptana.ide.core.ui"
               properties="isWebRunnable"
               type="org.eclipse.core.resources.IFile"/>
         <propertyTester
               class="com.aptana.ide.core.internal.ui.NaturePropertyTester"
               id="com.aptana.ide.core.ui.NaturePropertyTester"
               namespace="com.aptana.ide.core.ui"
               properties="nature"
               type="org.eclipse.core.resources.IProject">
         </propertyTester>
      </extension>
      <extension
         point="org.eclipse.ui.editors.documentProviders">
         	 <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            inputTypes="com.aptana.ide.core.ui.editors.java.JavaFileEditorInput"
            id="org.eclipse.ui.editors.text.ExternalFileDocumentProvider">
      </provider>
     </extension>
       <extension
             point="org.eclipse.ui.themes">
          
          <themeElementCategory
                id="com.aptana.ide.core.ui.apearance"
                label="%Theme.Aptana.label">
                <description>
                   %Theme.Aptana.Description
                </description>
          </themeElementCategory>
       </extension>
       <extension
             point="com.aptana.ide.core.ui.diagnosis">
          <diagnosis
                class="com.aptana.ide.core.ui.NetworkDiagnosticLog"
                ordinal="1000">
          </diagnosis>
          <diagnosis
                class="com.aptana.ide.core.ui.IODiagnosticLog"
                ordinal="1050">
          </diagnosis>
          <diagnosis
                class="com.aptana.ide.core.ui.EclipseDiagnosticLog"
                ordinal="1100">
          </diagnosis>
       </extension>
       <extension
             point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension
                targetID="com.aptana.ide.js.ui.WebPerspective">
             <actionSet
                   id="com.aptana.ide.core.ui.actionSet.aptanamenu">
             </actionSet>
             <actionSet
                   id="eclipsemonkeyAction.actionSet">
             </actionSet>
             <actionSet
                   id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.radrails.rails.ui.PerspectiveRails">
             <actionSet
                   id="com.aptana.ide.core.ui.actionSet.aptanamenu">
             </actionSet>
             <actionSet
                   id="eclipsemonkeyAction.actionSet">
             </actionSet>
             <actionSet
                   id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.rubypeople.rdt.ui.PerspectiveRuby">
             <actionSet
                   id="com.aptana.ide.core.ui.actionSet.aptanamenu">
             </actionSet>
             <actionSet
                   id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.eclipse.jst.j2ee.J2EEPerspective">
             <actionSet
                   id="com.aptana.ide.core.ui.actionSet.aptanamenu">
             </actionSet>
             <actionSet
                   id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView">
             </actionSet>
          </perspectiveExtension>
           <perspectiveExtension
                targetID="org.eclipse.jdt.ui.JavaPerspective">
             <actionSet
                   id="com.aptana.ide.core.ui.actionSet.aptanamenu">
             </actionSet>
             <actionSet
                   id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView">
             </actionSet>
          </perspectiveExtension>
          <perspectiveExtension
                targetID="org.eclipse.wst.web.ui.webDevPerspective">
             <actionSet
                   id="com.aptana.ide.core.ui.actionSet.aptanamenu">
             </actionSet>
             <actionSet
                   id="s.com.aptana.ide.core.ui.actionSet.ShowAptanaView">
             </actionSet>
          </perspectiveExtension>
       </extension>
       <extension
         point="org.eclipse.ui.importWizards">
      		<wizard
            	name="%ImportWizards.ExternalFolder"
            	icon="icons/folder.gif"
            	class="com.aptana.ide.core.ui.wizards.PromoteToProjectWizard"
            	id="com.aptana.ide.core.ui.wizards.PromoteToProjectWizard">
         	<description>
            	%ImportWizards.ExternalFolderDescription
         	</description>
      		</wizard>
		</extension>
       <extension
             point="org.eclipse.ui.propertyPages">
          <page
                class="com.aptana.ide.core.ui.preferences.ProjectNaturesPage"
                id="com.aptana.ide.propertypages.project.natures.web"
                name="%ProjectNaturesPage.Name">
             <enabledWhen>
                <and>
                   <adapt
                         type="org.eclipse.core.resources.IProject">
                   </adapt>
                   <or>
                      <test
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                      <test
                            args="com.aptana.ide.project.nature.web"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                      <test
                            args="com.aptana.ide.project.remote.nature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                       <test
                            args="com.aptana.ide.editor.php.phpnature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                       <test
                            args="com.aptana.ide.framework.jaxernature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                       <test
                            args="railsnature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                       <test
                            args="com.aptana.ide.apollo.apollonature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                       <test
                            args="com.aptana.ide.framework.iphone.iphonenature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                       <test
                            args="WidgetProjectNature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                      <test
                            args="pythonNature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                      <!-- PDT Nature projects -->
                      <test
                            args="org.eclipse.php.core.PHPNature"
                            forcePluginActivation="false"
                            property="com.aptana.ide.core.ui.nature"
                            value="true">
                      </test>
                   </or>
                </and>
             </enabledWhen>er>
          </page>
       </extension>
       <extension
             point="org.eclipse.ui.editors">
         <editor
         	class="com.aptana.ide.core.ui.browser.WebBrowserEditor"
         	contributorClass="org.eclipse.ui.internal.browser.WebBrowserEditorActionBarContributor"
         	icon="icons/browser.gif"
         	id="com.aptana.ide.core.ui.browser.editor"
         	name="%webBrowserTitle"/>
       </extension>
       <extension
             point="org.eclipse.ui.startup">
          <startup
                class="com.aptana.ide.core.ui.ping.PingStartup">
          </startup>
       </extension>
</plugin>
